<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>

    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/form.css">

</head>
<body>

    <main class="dimensions-screen flex-center flex-column">
        <div class="flex-center flex-column gap-0">
            <h1>Bootcamp 2024</h1>
            <p>by LHackSRT</p>
        </div>
        <div class="form-container bg-gray">
            <div class="form-head">
                <h2>Inscription</h2>
            </div>
            <form id="connexion-form">
                <div class="form-group w-100">
                    <label for="groupe">Groupe</label>
                    <input type="text" id="groupe" name="groupe" value="Nom groupe">
                </div>
                <div class="form-group w-100">
                    <label for="login">Login</label>
                    <input type="text" id="login" name="login" value="Login utilisateur">
                </div>
                <div class="flex-row flex-wrap">
                    <div class="form-group">
                        <label for="prenom">Prenom</label>
                        <input type="text" id="prenom" name="prenom" value="Prenom utilisateur">
                    </div>
                    <div class="form-group">
                        <label for="nom">Nom</label>
                        <input type="text" id="nom" name="nom" value="Nom utilisateur">
                    </div>
                </div>
                <div class="form-group w-100">
                    <label for="password">Mot de passe</label>
                    <input type="password" id="password" name="password" value="Mot de passe">
                </div>
                <div class="form-actions">
                    <button type="submit">S'inscrire</button>
                </div>
            </form>
            <p>Vous avez déjà un compte ? <a href="connexion.html">Connectez-vous</a></p>
        </div>
    </main>
    <script src="../scripts/inscription.js"></script>

</body>
</html>