
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 52px;
  width: 100%;
  padding: 20px 20px;
  background: var(--tertiary-color);
}

.nav-tab-list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex: 1;
    gap: 8px;
}

.nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

.nav-tab:hover {
    background: white;
    color: var(--tertiary-color);
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

.nav-tab.active {
    background: white;
    color: var(--tertiary-color);
    font-weight: bold;
    border-radius: 8px 8px 0 0;
}

.group-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.group-link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    padding: 0 20px;

    text-decoration: none;
    background: var(--gray-color);
    color: var(--tertiary-color);
    font-weight: bold;
    border-radius: 40px;
}

.group-link:hover {
    background: var(--tertiary-color);
    color: white;
}

.group-link.active {
    background: var(--tertiary-color);
    color: white;
}



